.picture {
  width: 60%;

  background-color: rgb(133, 135, 240);
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
  height: 100%;
  gap: 5em;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.button-container > h2 {
  font-size: 3em;
  margin: 0;
}

.button-container > .ob-button {
  max-width: 7em;
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .picture {
    width: 40%;
  }
}
