.support-page {
  margin: 0%;
}

.support-page-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1em;
  align-content: space-evenly;
  width: 100%;
  margin: 20px auto;
}

.info-button {
  height: 100%;
  width: 100%;
}

.support-button {
  height: 128px;
  width: 128px;
}
