.time-name-of-session {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 1em;
}

.card-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0.5em 0.5em;
}

.card-content>.ob-button {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.card-content>.ob-button>* {
  font-weight: 600;
}

.card-body-title {
  font-size: var(--font-ui-body-size);
  color: var(--element-active-color);
}

.card-body-sub-text {
  color: var(--element-active-color);
  font-size: var(--font-ui-overline-size);
}

.ob-card {
  width: 100% !important;
}

.card {
  width: 100%;
}