.floating-buttton-menu {
    border-radius: 6px;
    position: absolute;
    height: fit-content;
    width: 20em;
    top: 5em;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.dropdown-button-container {
    height: 100%;
    display: flex;
    position: relative
}




.dropdown-button,
.dropdown-button>* {
    height: 100% !important;
}

.button-text {
    width: 100%;
}

.floating-buttton-menu>.button-bar>* {
    background-color: #FCFCFC !important;
}

.dropdown-button {
}