.filter-header-content {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1em 0 0;
}

.session-type-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkbox {
  padding: 10px;
}

.button-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
