.filter-header-content {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1em 0 0;
}

.session-type-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkbox {
  padding: 10px;
}

.button-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 1em 0;
}

.users-section {
  padding: 0 0 1em;
}

.filter-body {
  position: absolute;
  max-width: 800px;
  padding: 0 4em;
  z-index: 1;
}

.filter-body>*>* {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}