.text-fields-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 3em;
  width: 100%;
}

.text-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100%;
}

.login-card-container {
  width: 400px;
  position: absolute;
  top: 7em;
  z-index: 1;
}

.text-fields-and-button>.ob-button {
  margin-top: 2em;
}

.login-container>.ob-card {
  border-radius: 8px !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.card-content {
  border-radius: 8px;
}

.text-fields>.ob-button>.ob-label {
  margin: 0;
  display: block;
  justify-content: center;
  align-items: center;
}