.text-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 3em;
  gap: 3em;
}

.login-card {
  width: 400px;
}

.text-fields > .ob-button > .ob-label {
  margin: 0;
  display: block;
  justify-content: center;
  align-items: center;
}
