.sessions-page {
  padding: 1em 2em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: max-content;
  width: 100%;
}

.sessions-error-text {
  font-size: 2em;
}

.sessions-page > * {
  width: 100%;
}

.sessions-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 3em 0;
  gap: 2em;
}

.sessions-page > *:first-child,
.sessions-page > :last-child {
  margin-top: 0;
}

#filter-button-container {
  display: flex;
  flex-flow: row;
}

.time-name-of-session {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1em;
}

@media only screen and (min-width: 500px) {
  #filter-button-container {
    min-width: 100%;
  }
}
