.session-overview-page {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2em;
}

.sessions-page>* {
  width: 100%;
}

.sessions-page>*:first-child,
.sessions-page> :last-child {
  margin-top: 0;
}

.session-graph {
  background: #F7F7F7;
  margin: 10px;
}

.graph-values {
  width: 100%;
}

.compare-about-section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.graph-card {
  background-color: red;
  height: 100vh;
}

.compare-about-section>* {
  width: 100%;
}


@media only screen and (min-width: 500px) {

  .card,
  #filter-button-container {
    width: 250px;
  }
}



.card-content {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  background: #f7f7f7;
  font-size: 16px;
}

.ob-button {
  display: flex;
  align-self: center;
}



@media only screen and (min-width: 500px) {}