.info-button {
  display: grid;
  grid-template-rows: 40px 30px 40px;
}

.ob-font-ui-subtitle {
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  font-weight: 550;
}

.ob-font-ui-label {
  text-align: center;
  line-height: initial;
}
