.support-page {
  margin: 0%;
}

.support-page-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  align-content: space-evenly;
  width: 100%;
  margin: 20px auto;
}

.info-button {
  height: 100%;
  width: 100%;
}

.support-button {
  height: 128px;
  width: 128px;
}

#search-icon {
  position: absolute;
  top: 0;
  right: 0;
}

#search-bar {
  text-align: center;
  display: block;
}

#search-field-container {
  font-size: 30px;
  position: relative;
  display: flex;
}

.support-item {
  height: 48px;
  font-size: 16px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: rgb(247, 247, 247);
}

.support-item-title {
  margin: 0;
}

.support-items-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

.support-item-show-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2em;
  padding: 1em 0 0 0;
}

.support-item-show-container > h1 {
  font-size: 24px;
  font-weight: 600;
}

.support-item-show-container > p {
  font-size: 20px;
  font-weight: 400;
}

.support-item-show-container > * {
  margin: 0;
  text-align: center;
}
