.info-button {
  display: grid;
  grid-template-rows: 40px 30px 40px;
}

.ob-button {
  height: 130px;
  width: 130px;
}

.ob-font-ui-subtitle {
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  font-weight: 550;
}

.ob-font-ui-label {
  text-align: center;

}
