.card-content {
  background: white;
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  background: #f7f7f7;
  font-size: 16px;
}

.about-card {
  width: 200px;
}

.ob-card {
  width: 200px;
}
